.cuadrado {
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  border-radius: 16px;
  cursor: pointer;
  transition-property: background, width;
  transition-duration: 2s, 1s;
  transition-delay: 2s;
  transition-timing-function: ease;
}

.cuadrado:hover {
  background-color: #0000ff;
  box-shadow: 14px 6px 17px 8px rgba(0, 0, 0, 0.5); /*agregar sombra*/
  transition-delay: 0s;
  width: 200px;
}

.pst {
  position: fixed;
  left: 0px;
  top: opx;
  transition: left 500ms 2s linear, top 500ms 2s linear;
}

.center {
  left: calc(50vw - 50px);
  top: calc(50vh-50px);
  transition: left 2s 2s linear, top 2s 2s linear;
}

.anime {
  position: fixed;
  background-color: #8a2be2;
  top: 0px;
  left: 0px;
  animation-name: prueba;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  /* animation-fill-mode: forwards;*/
}
@keyframes prueba {
  /* from{
        top: 0px;
        left: 0px;
    
    }
    to{
        top: calc(100vh - 100px);
        left: calc(100vw-100px)}*/
  0% {
    top: 0px;
    left: 0px;
  }
  50% {
    background-color: #ff0000;
    border-radius: 50%;
    width: 500px;
    height: 500px;
  }
  100% {
    top: calc(100vh - 100px);
    left: calc(100vw - 100px);
  }
}
