*{

    margin: 0px;
    padding: 0px;

}

section{
    border: 2px solid #000;
    width: 80vw;
    height: 200vh;
    /*margin-top: 30px;
    margin-bottom: 30px;
    margin: 0px 30px 0px 30px;*/
    margin: auto;
    margin-block: 30px;
    position: relative;




}

.cdr{
    width: 100px;
    height: 100px;
    border-radius: 10px;

}

.bgred{
    background-color: #ff0000;
    /*position: relative;*/
    /*position: absolute;*/
    position: fixed;
    /*left: 0px;
    top: 0px;*/
    left: calc(50vw - 50px);
    top: calc(50vh - 50px)

}

.bgblue{
    background-color: blue;
    color: #fff;
    text-align: center;

}

.titulo{
    position: sticky;
    top:0px;
    border: 1px solid #00ff00; 
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 12px;

}

.w200{
    width: 200px;
    height: 200px;

}
